// Base level variables for colors and fonts
$font-stack:  "Roboto", "sans-serif", "Times New Roman";
$background-color: #e4e4e4a8;
$footer-color: #bbbbbb;
$button-color: #377490;
$niceRed-color: #e98181;